:root {
  --background: #f2f1f0;
  --foreground: #434343;
  --blueColor: #4788df;
  --whiteColor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--background);
  text-decoration: none;
}

a:hover {
  color: var(--blueColor);
}

.link {
  color: var(--blueColor);
  text-decoration: underline;
  margin: 0 auto 20px;
}

::placeholder {
  color: #bfbfbf;
}
