/* スマホ */
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.sectionLayout {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 80px 20px;
  justify-content: center;
  align-items: center;
}

/* PC */
@media screen and (min-width: 600px) {
  .title {
    margin-bottom: 60px;
    font-size: 40px;
    text-align: left;
  }

  .layout {
    display: flex;
  }

  .sectionLayout {
    padding: 80px;
  }

  .header {
    position: relative;
  }
}
