
.comment_header {
    font-size: 14px;
}

.comment_name {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}

.comment_name:hover {
    text-decoration: underline;
}

.comment_date {
    color: #8c8c8c;
}

.comment_content {
    font-size: 14px;
    margin: 5px 0 15px;
}

.comment_input {
    height: 150px;
    width: 100%;
    padding: 15px;
}

.button_container {
    display: flex;
    justify-content: center;
}

.button_margin {
    margin-right: 80px;
}
