.textarea {
  display: flex;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  height: 300px;
}

.label {
  border: 1px solid var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  opacity: 50%;
  color: var(--whiteColor);
  font-weight: normal;
}
.labelColor {
  border: 1px solid var(--foreground);
  display: flex;
  justify-content: center;
  font-weight: normal;
  align-items: center;
}

.html {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  height: 300px;
  border: 1px solid var(--foreground);
  word-wrap: break-word; /* 長い単語を折り返す */
  word-break: break-all; /* 必要に応じて単語を途中で分割 */
  overflow: auto; /* スクロールを有効にする */
}

.pcUl {
  display: none;
}

.error {
  color: #da0000;
  font-weight: bold;
  font-size: 0.875rem;
}

.inputError {
  border: solid 2px #da0000;
  background-color: rgba(255, 0, 0, 0.1);
}
@media screen and (min-width: 600px) {
  .formContent {
    display: flex;
    height: 45px;
  }
  .label {
    width: 50%;
  }

  .labelColor {
    width: 50%;
  }

  .textarea {
    font-size: 16px;
    width: 50%;
  }
  .html {
    width: 50%;
  }
  .spUI {
    display: none;
  }
  .pcUl {
    display: contents;
    display: flex;
  }
}

.html {
  padding-left: 20px;
}


.html ul:first-child{
  list-style-type: circle; /* 通常のリスト記号 */

}

.html ul{
  list-style-type:disc;
  
}


.html li {
  margin-bottom: 5px;
  padding-left:   1rem;
}

.html ol{
  list-style-type: decimal; /* 数字リスト */


}

.html th, .html td {
  border: 1px solid var(--foreground);
  padding: 8px;
}

.html th {
  background-color: #f4f4f4;
}

.html pre {
  background: #dddcdd;
  color: var(--foreground);
  padding: 16px;
  border-radius: 5px;
  overflow-x: auto;
}

.html code {
  font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  background: #dddcdd;
  color: var(--foreground);
  padding: 1px;
  border-radius: 5px;
  overflow-x: auto;
}
