.header {
  background-color: var(--foreground);
  font-size: 16px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.headerIcons {
  height: 70px;
  border-bottom: 1px solid var(--background);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}
.mobileUl {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: start;
  gap: 1.5rem;
  padding: 20px;
}

.pcUl {
  display: none;
}

@media screen and (min-width: 600px) {
  .header {
    width: 250px;
    background-color: var(--foreground);
    color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .headerIcons {
    display: none;
  }

  .headerContents {
    padding: 70px 35px;
  }

  .pcUl {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    text-align: left;
    padding-left: 20px;
  }

  .mobileUl {
    display: none;
  }
}
